import { Injectable, inject } from '@angular/core';
import { ComponentStore, OnStateInit, OnStoreInit } from '@ngrx/component-store';
import { tapResponse } from '@ngrx/operators';
import { mergeMap, pipe, tap } from 'rxjs';
import { <%= capitalName %> } from './<%= lowerName %>.model';

export interface <%= capitalName %>State {
  <%= lowerName %>s: <%= capitalName %>[];
  loading: boolean;
  error?: string;
}

const initialState: <%= capitalName %>State = {
  <%= lowerName %>s: [],
  loading: false,
  error: undefined,
};

@Injectable()
export class <%= capitalName %>Store extends ComponentStore<<%= capitalName %>State> implements OnStateInit, OnStoreInit {
  private readonly <%= lowerName %>s$ = this.select((state) => state.<%= lowerName %>s);
  private readonly loading$ = this.select((state) => state.loading);
  private readonly error$ = this.select((state) => state.error);

  readonly vm$ = this.select(
    {
      <%= lowerName %>s: this.<%= lowerName %>s$,
      loading: this.loading$,
      error: this.error$,
    },
    { debounce: true },
  );

  ngrxOnStateInit() {
    this.setState(initialState);
  }

  ngrxOnStoreInit() {
    this.load<%= capitalName %>s();
  }

  load<%= capitalName %>s(){
    // TODO: Implement this function
  }
}
